/*Importando fontes personalizadas*/
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Guides&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



/* Seletor de todo o conteúdo da página*/

* {
margin: 0.3rem; /*espacamento nas margens -- rem vai ser proporcional(relativo) entre as telas em que for apresentado o app (PC, celular...*/
padding: 0; /*espacamento interno*/
box-sizing: border-box; /*Box padrão de todo site*/



/* Seletor do corpo da página*/
}
hr { display:nome; } /*desabilita as tags HR*/

body {
    background-color: #a1a19dea; 
    color: rgba(1, 1, 14, 0.972);
    /*colocar a descrição do tipo de letra copiado do googlefonts*/
    font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


header {
    text-align: center;
    padding: 3rem;
    border: #1a1a19eb;
    border-width: 10px;
    border-style: double;
    border-radius: 20% / 50%;
    font-size: 3rem
    
}


main {
    padding: 3rem;
    color: #000;
    display: flex; /*alinhamento dos "filhos" na horizontal*/
    flex-direction: column; /*alinhamento dos "filhos" na vertical*/
    gap: 2rem;


}


figure {

    
}